<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BLOG</title>
    <!-- {% comment %} BOOTSTRAP {% endcomment %} -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <!-- {% comment %} MEDIUM STYLE EDITOR(from_github:
    https://github.com/yabwe/medium-editor/blob/master/README.md ){%endcomment%} -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css"
      type="text/css"
      media="screen"
      charset="utf-8"
    />
    <!-- 
    {% comment %} Custom Css {% endcomment %} -->

    <!-- fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
  </head>
  <body>
    <nav class="navbar bg-light border-bottom border-body techfont">
      <div class="container">
        <ul class="nav navbar-nav">
          <li>
            <a class="navbar-brand bigbrand" href="{% url 'post_list' %}"
              >MBlog</a
            >
            <a href="{% url 'about' %}">About</a>
            <a href="https://github.com/">GitHub</a>
            <a href="https://www.linkedin.com/">LinkedIn</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'post_new' %}"> New Post</a>
            <a href="{% url 'post_draft_list' %}"> Drafts</a>
            <a href="{% url 'logout' %}"> Log Out</a>
            <a> Welcome {{user.username}}</a>
          </li>
          {%else %}
          <li>
            <a class="nav navbar-right" href="{%url 'login'%}">
              <i class="bi bi-person me-2"></i> Log In</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <!-- Content BLock -->
    <div class="container content"></div>
    <div class="row">
      <div class="col-md-8">
        <div class="blog_post">{% block content %} {% endblock %}</div>
      </div>
    </div>
  </body>
</html>
